<h1>Welcome to the Billboard Voting App</h1>
<h3>Logged in as : <%= current_user.email %></h3>
<br>
<br>

<div id="results"></div>

<div data-controller="hello">
  <h1 data-hello-target="output"></h1>
</div>

<%= link_to 'Create New Billboard', new_billboard_path, class: 'btn btn-success btn-lg' %>
<br>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Vote Score</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Lat</th>
      <th scope="col">Lon</th>
      <th scope="col">Size</th>
      <th scope="col">Screen Type</th>
      <th scope="col">Direction</th>
      <th scope="col">Orientation</th>
      <th scope="col">Unit Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @billboards.each do |billboard| %>
      <tr>
        <td>
          <button class="voter upvote_button" data-direction="up" data-id="<%= billboard.id %>"><i class="fa fa-thumbs-up"></i></button>
          <button class="voter downvote_button" data-direction="down" data-id="<%= billboard.id %>"><i class="fa fa-thumbs-down"></i></button>
        </td>
        <td class="total_votes"><%= billboard.vote_score %></td>
        <td><%= billboard.name %></td>
        <td><img class="img-thumbnail" src="<%= billboard.image %>"/></td>
        <td><%= billboard.lat %></td>
        <td><%= billboard.lon %></td>
        <td><%= billboard.size %></td>
        <td><%= billboard.screen_type %></td>
        <td><%= billboard.direction %></td>
        <td><%= billboard.orientation %></td>
        <td><%= billboard.unit_type %></td>
        <td>
          <%= link_to 'Show', billboard_path(billboard), class: 'btn btn-info btn-block' %>
          <%= link_to 'Edit', edit_billboard_path(billboard), class: 'btn btn-warning btn-block' %>
          <%= link_to 'Delete', billboard_path(billboard), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script type="text/javascript">
 
  $('button.voter').click(function () {
    $(this).prop('disabled', true);
    
    var id = $(this).data('id');
    var direction = $(this).data('direction')
    if (direction === 'up') {
      $(this).next().prop('disabled', false);   
    } else {
      $(this).prev().prop('disabled', false);   
    }
    var $total = $(this).parent().siblings(".total_votes")
    console.log("BB ID: " + id)
       $.ajax({
          type: 'POST',
          url: '/billboards/' + id + '/vote',
          data: { direction: direction },
          success: function (response) {
            // console.log("Total : " + $total.text());
            // console.log(response);
            $total.text(response.vote_score)   
            console.log("Vote Score : " + response.vote_score);  
             
          }
       })
    })


</script>







