<h1>Welcome to the Billboard Voting App</h1>
<br>
<br>

<div id="results"></div>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Vote Total</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Lat</th>
      <th scope="col">Lon</th>
      <th scope="col">Size</th>
      <th scope="col">Screen Type</th>
      <th scope="col">Direction</th>
      <th scope="col">Orientation</th>
      <th scope="col">Unit Type</th>
    </tr>
  </thead>
  <tbody>
    <% @billboards.each do |billboard| %>
      <tr>
        <td>
          <button class="voter upvote_button" data-direction="up" data-id="<%= billboard.id %>"><i class="fa fa-thumbs-up"></i></button>
          <button class="voter downvote_button" data-direction="down" data-id="<%= billboard.id %>"><i class="fa fa-thumbs-down"></i></button>
        </td>
        <td class="total_votes"><%= billboard.votes.count %></td>
        <td><%= link_to billboard.name, billboard_path(billboard) %></td>
        <td><img class="img-thumbnail" src="<%= billboard.image %>"/></td>
        <td><%= billboard.lat %></td>
        <td><%= billboard.lon %></td>
        <td><%= billboard.size %></td>
        <td><%= billboard.screen_type %></td>
        <td><%= billboard.direction %></td>
        <td><%= billboard.orientation %></td>
        <td><%= billboard.unit_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<script type="text/javascript">
 
  $('button.voter').click(function () {
    var id = $(this).data('id');
    var direction = $(this).data('direction')
    var $total = $(this).parent().siblings(".total_votes")
    console.log(id)
       $.ajax({
          type: 'POST',
          url: '/billboards/' + id + '/vote',
          data: { direction: direction },
          success: function (response) {
            
            /*
            var count = parseInt($total.text());
            console.log(count);
            if (direction === "up") {
              count += 1

            } else {
              count -= 1
            }
            */     
            $total.text(response.vote_score)           
          }
       })
    })


</script>







